$md-white: #ffffff;

$md-tokopedia-blue: #007bc1;
$md-tokopedia-dark-blue: #004a75;
$md-tokopedia-orange: #ff8000;
$md-tokopedia-dark-orange: #cc6600;
$md-tokopedia-smoke-grey: #e5e5e5;
$md-tokopedia-black: #3c3c3c;
